*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    font-family: 'Nunito', sans-serif;
}
header{
    padding: 20px;
    height: 900px;
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.7), 
            rgba(0, 0, 0, 0.4), 
            rgba(0, 0, 0, 0.1)
        ),
        url(https://source.unsplash.com/1WQ5RZuH9xo);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
header h1, header a, header i, header p{
    color: whitesmoke;
}
header a, header i{
    transition: all ease-in 0.3s;
}
header a:hover, header i:hover{
    color: darkgoldenrod;
}
header #top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: 'Nunito', sans-serif;
    height: 40%;
}
#top nav a{
    margin: 5px 20px; 
}
header #bottom{
    display: flex;
    justify-content: space-between;
    height: 60%;
    padding-bottom: 10px;
}
#bottom aside{
    display: flex;
    align-self: flex-end;
    align-items: center;
    text-transform: uppercase;
    font-size: 10px;
    transform: rotate(90deg);
    transform-origin: 80% 30%;
}
#line{
    letter-spacing: -2px;
    margin: 0 5px;
}
#bottom aside img{
    height: 70px;
    width: 70px;
    transform: rotate(-90deg);
}
.content{
    height: 500px;
    padding: 20px;
    display: flex;
}
.content div{
    width: 400px;
    margin-top: 10%;
    color: whitesmoke;
}
.content div p{
    font-size: 14px;
    color: whitesmoke;
}
.content div h2{
    color: whitesmoke;
}
#first{
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.6), 
            rgba(0, 0, 0, 0.6)
        ),
        url(https://source.unsplash.com/oqStl2L5oxI);
    background-size: cover;
    background-attachment: fixed;
    background-repeat:no-repeat; 
    background-color: black;
    justify-content: flex-end;
}
#second{
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4) 
        ),
        url(https://source.unsplash.com/iRAvvyWZfZY);
    background-size: cover;
    background-attachment: fixed;
    background-repeat:no-repeat; 
    background-color: black;
}
#third{
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6) 
        ),
        url(https://source.unsplash.com/Vnyk5Z2yd50);
        background-size: cover;
        background-attachment: fixed;
        background-repeat:no-repeat; 
        background-color: black;
        justify-content: center;
}
#third div>*{
    text-align: center;
}
#fourth{
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7) 
        ),
        url(https://source.unsplash.com/r9SdLRda3W0);
        background-size: cover;
        background-attachment: fixed;
        background-repeat:no-repeat; 
        background-color: black;
        height: 250px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 100px;
}
#fourth>h2{
    border-bottom: 2px solid whitesmoke;
    padding-bottom: 10px;
    text-align: center;
    color: whitesmoke;
}
#fourth a{
    padding: 10px;
    border-left: 2px solid transparent;
    transition: all ease-in 0.3s;
    color: whitesmoke;
    font-size: 1.2em;
}
#fourth a:hover {
    color: darkgoldenrod;
    border-color: darkgoldenrod;
}
footer{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.9),
            rgba(0, 0, 0, 0.4) 
        ),
        url(https://source.unsplash.com/wfh8dDlNFOk);
    background-size: cover;
    background-attachment: fixed;
    background-repeat:no-repeat;     
}
footer section{
    height: 300px;
    padding: 20px;
}
footer section>*{
    text-align: justify;
    margin: 0 0 10px;
}
footer h2{
    color: rgba(245, 245, 245, 0.5);
}
footer p{
    color: rgba(245, 245, 245, 0.4);
    max-width: 300px;
}